.dessert {
    position: relative;
    width: min-content;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.dessert-img {
    width: var(--img-height);
    height: var(--img-height);
    border-radius: 8px;
    border: 2px solid transparent;
    transition: 200ms;
}

.dessert-img-select {
    border: 2px solid var(--orange);
}

.dessert-cart-button {
    position: absolute;
    top: calc(var(--img-height) - 21px);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 24px;
    transition: 200ms;
    width: 210px;
}

.dessert-cart-button-non-add {
    background-color: var(--background);
    gap: 8px;
    border: 1px solid var(--black);
    cursor: pointer;
    z-index: 1;
}

.dessert-cart-button-add {
    background-color: var(--orange);
    color: var(--white);
    justify-content: space-between;
    z-index: 0;
}

.button-quantity {
    display: flex;
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
}

.button-quantity img {
    width: 16px;
    height: 16px;
}

.dessert-cart-button-non-add img {
    width: 24px;
    height: 24px;
}

.dessert-cart-button span {
    text-wrap: nowrap;
    font-weight: 500;
    font-size: 0.875rem;
}

.dessert-cart-button-non-add:hover {
    border: 1px solid var(--orange);
    color: var(--orange);
}

.dessert-category {
    color: var(--gray);
    font-size: 0.875rem;
}

.dessert-title {
    color: var(--text-color);
    margin: 4px 0;
    font-size: 1rem;
}

.dessert-price {
    color: #C93A0E;
    font-weight: 700;
}
