@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
@import url("./dessert-style.css");
@import url("./my-cart-style.css");
@import url("./order-style.css");
@import url("./responsive-style.css");

:root {
    --img-height: 275px;
    --text-color: #271710;
    --white: #fff;
    --black: #272727;
    --gray: #a3a3a3;
    --orange: #C73B0F;
    --orange-hover: #c55735;
    --orange-scroll: #c557358f;
    --background: #f4edeb;
    --red: #c73a0f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Text", sans-serif;
}

h1 {
    color: var(--text-color);
    margin-bottom: 16px;
}

body {
    margin: 32px auto;
    background-color: var(--background);
    max-width: 1400px;
}

main {
    display: flex;
    justify-content: space-between;
}

ul, li {
    list-style: none;
}

.background-opacity {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #272727;
    z-index: 1;
    opacity: 0.8;
}

.gray-text {
    color: var(--gray);
}

.total-price {
    font-size: 1.25rem;
    color: var(--text-color);
    font-weight: 700;
}

.button-quantity {
    display: flex;
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    transition: 200ms;
}

.button-quantity:hover {
    background-color: var(--orange-hover);
}

.button-quantity img {
    width: 16px;
    height: 16px;
}